/* Colour palette: https://coolors.co/f3de8a-353a3f-eb9486-f9f8f8-75b9be */

body {
    background-color: #F9F8F8;
    text-align: justify;
    font-family: Futura;
}

blockquote {
    border: 1px solid #EB9486;
    border-left: 5px solid #EB9486;
    border-radius: 1px;
    background: #fafafa;
    margin: 0px;
    padding: 10px 10px;
}

blockquote .small {
    display: block;
    font-size: 80%;
    text-align: right;
}

.jumbotron-content-wrapper {
    padding: 10px;
}

.about-text{
    background: rgba(53, 58, 63, 0.2); 
    font-weight: 500;
}