{% extends "base.html" %}
{% block title %}About page{% endblock %}
{% set active_page = "about" %}

{% block head %}
<style type="text/css">
    .jumbotron {
        background-image: url("{{ url_for('static', filename='img/bertha.jpg') }}");
        background-size: cover;
        color: white;
        padding-top: 290px;
        height: 600px;
    }
</style>
{% endblock head %}

{% block main %}

<div class="container">
    <div class="jumbotron">
        <div class="mb-3 mt-3">

            <div class="jumbotron-content-wrapper about-text">
                <h2 class="mb-4" style="font-weight: 300">About</h2>

                <p>
                    The Private File Cannon application is a pet project allowing asynchronous file exchange between two
                    parties.
                </p>
                <p>
                    The app loads Alice's file, stores it and generates a unique link. Alice exchanges the link with Bob
                    using
                    a third-party channel. When Bob is available, he follows the link and the Cannon launches the file
                    using
                    Azure-powered propellant in Bob's direction.
                </p>
                
                <a href = "https://github.com/hubacekjirka/privateFileCannon" target="_blank">
                    <img src="{{ url_for('static', filename='img/github.png') }}" alt="Source Code" >
                </a>
            </div>
        </div>

        <div id="progress_wrapper" class="d-none">
            <label id="progress_status">0% uploaded</label>
            <div class="progress mb-3">
                <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" area-valuemin="0"
                    area-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}