{% extends "base.html" %}
{% block title %}Private File Cannon{% endblock %} 
{% set active_page = "home" %}

{% block head %}
<style type="text/css">
    .jumbotron{
        background-image: url("{{ url_for('static', filename='img/bertha.jpg') }}");
        background-size: cover;
        color: white;
        padding-top: 290px;
        height: 600px;
    }
</style>
{% endblock head %}

{% block main %} 

{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, msg in messages %}

            {% if category == "info" %}
                <div class="alert alert-success" role="alert">
                    {{ msg }}
                </div>
            {% endif %}

            {% if category == "error" %}
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
            {% endif %}

        {% endfor %} 
    {% endif %} 
{% endwith %}



<div class="container">
    <div class="jumbotron">
        <div class="mb-3 mt-3">

            <h2 class="mb-3" style="font-weight: 300">Load Cannon</h2>

            <div class="form-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file_input" oninput="input_filename();">
                    <label for="file_input" id="file_input_label" class="custom-file-label">Select File</label>
                </div>
            </div>

            <button onclick="upload('{{ request.url }}')" id="upload_btn" class="btn btn-primary">Upload</button>
            
            <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>  
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Uploading...
            </button>

            <button class="btn btn-secondary d-none" id="cancel_btn" type="button">Cancel Upload</button>
        </div>

        <div id="progress_wrapper" class="d-none">
            <label id="progress_status">50% uploaded</label>
            <div class="progress mb-3">
                <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" area-valuemin="0" area-valuemax="100"></div>
            </div>
        </div>

        <div id="alert_wrapper"></div>
      </div>

    <div class="row">
        <div class="col">
            <blockquote>
                <p>
                    <em>
                        "A cannon is a type of gun classified as artillery that launches a projectile using propellant.
                        In the past, gunpowder was the primary propellant before the invention of smokeless powder
                        during the late 19th century. Cannon vary in caliber, range, mobility, rate of fire, angle of
                        fire, and firepower; different forms of cannon combine and balance these attributes in varying
                        degrees, depending on their intended use on the battlefield."
                    </em>
                </p>
                <p>
                    <small>
                        <!-- https://poorvucenter.yale.edu/writing/using-sources/citing-internet-sources#Wikipedia -->
                        "Cannon." <i>Wikipedia, The Free Encyclopedia.</i> Wikimedia Foundation, Inc. 16 August 2020.
                        Web. 19 August 2020.
                    </small>
                </p>
            </blockquote>

        </div>
        <div class="col">
            <p>
                The Private File Cannon application is a pet project allowing asynchronous file exchange between two parties.
            </p>

            <p>
                The app loads Alice's file, stores it and generates a unique link. Alice exchanges the link with Bob using
                a third-party channel. When Bob is available, he follows the link and the Cannon launches the file using
                Azure-powered propellant in Bob's direction.
            </p>
            <hr>

           

            
        </div>
    </div>
</div>

<script>
    var progress = document.getElementById("progress");
    var progress_wrapper = document.getElementById("progress_wrapper");
    var progress_status = document.getElementById("progress_status");

    var upload_btn = document.getElementById("upload_btn");
    var loading_btn = document.getElementById("loading_btn");
    var cancel_btn = document.getElementById("cancel_btn");

    var alert_wrapper = document.getElementById("alert_wrapper");

    var input = document.getElementById("file_input");
    var file_input_label = document.getElementById("file_input_label");

    function show_alert(message, alert) {
        alert_wrapper.innerHTML = `
        <div class="alert alert-${alert} alert-dismissible fade show" role="alert">
        <span>${message}<span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        `;
    };

    function input_filename() {
        file_input_label.innerText = input.files[0].name;
    }

    function upload(url) {
        if (!input.value) {
            show_alert("No file selected", "warning");
            return;
        }

        var data = new FormData();
        var request = new XMLHttpRequest();

        request.responseType = "json";
        alert_wrapper.innerHTML = "";
        input.disabled = true;
        upload_btn.classList.add("d-none");
        loading_btn.classList.remove("d-none");
        cancel_btn.classList.remove("d-none");
        progress_wrapper.classList.remove("d-none");

        var file = input.files[0];
        var filename = file.name;
        var filesize = file.size;
        document.cookie = `filesize=${filesize}`;
        data.append("file", file);

        request.upload.addEventListener("progress", function(e) {
            var loaded = e.loaded;
            var total = e.total;

            var percentage_complete = (loaded / total) * 100;
            progress.setAttribute("style", `width: ${Math.floor(percentage_complete)}%`);
            progress_status.innerText = `${Math.floor(percentage_complete)}% uploaded`;
        })

        request.upload.addEventListener("abort", function(e) {
            reset();
            show_alert("Upload cancelled", "primary");
        })

    
        request.addEventListener("load", function(e) {
            if (request.status == 200) {
                show_alert(`Download link: ${request.response.get_link} <br> Remove link: ${request.response.remove_link}`, "success");
            }
            else if (request.status == 413) {
                show_alert(`${request.response.message}`, "danger");
            }
            else {
                show_alert(`Error uploading file`, "danger")
            }
            reset();
        })

        request.addEventListener("error", function(e) {
            reset();
            show_alert("Error uploading file", "danger");
        })

        request.open("post", url);
        request.send(data);

        cancel_btn.addEventListener("click", function() {
            request.abort();
        })
    
    
    }

    function reset() {
        input.value = null;
        input.disabled = false;
        cancel_btn.classList.add("d-none");
        loading_btn.classList.add("d-none");
        upload_btn.classList.remove("d-none");
        progress_wrapper.classList.add("d-none");
        progress.setAttribute("style", "width: 0%");
        file_input_label.innerText = "Select File";
    }

</script>

{% endblock %} {% block script %}
<script>
    function filesize(elem) {
        console.log(elem.files[0].size)
        document.cookie = `fileSize=${elem.files[0].size}`
    }
</script>

{% endblock %}